infrastructure/terraform/.terraform
infrastructure/terraform/*.tfplan
infrastructure/terraform/*.tfstate*
haproxy/inventorie/lab
infrastructure/terraform/modules/lab
infrastructure/ansible/inventories/lab.yml
infrastructure/configure/inventories/kubernetes.yml
