# Instrastructure/Configure
infrastructure/configure/inventories/*
!infrastructure/configure/inventories/sample.yml

# Service/HAProxy
services/haproxy/inventories/*
!services/haproxy/inventories/sample