# Instrastructure/Configure
infrastructure/configure/inventories/*
!infrastructure/configure/inventories/sample

# Infrastructure/Deploy
infrastructure/deploy/*.terraform*
infrastructure/deploy/modules/*
!infrastructure/deploy/modules/sample

# Service/HAProxy
services/haproxy/inventories/*
!services/haproxy/inventories/sample

# Services/Jenkins
services/jenkins/inventories/*
!services/jenkins/inventories/sample